apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: ghcr.io/shclub/edu12-3:v3
        env:
        - name: REACT_APP_API_URL
          value: "http://backend" 
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: ClusterIP   

---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: frontend
  namespace: edu31
spec:
  host: frontend-edu31.apps.211-34-231-82.nip.io
  port:
    targetPort: 80
#  tls:
#    insecureEdgeTerminationPolicy: Redirect
#    termination: passthrough
  to:
    kind: Service
    name: frontend
    weight: 100    
  wildcardPolicy: None   
